<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Log In</h1>
      <form>
        <input type="text" placeholder="Username" />
        <input type="hidden" placeholder="Password" />
      </form>
  </body>
</html>
